﻿@model Huvikool.Models.InterestArea

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta</h2>

<h3>Kas sa oled kindel, et soovid selle kustutada?</h3>
<div>
   @* <h4>InterestArea</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi huviringide nimekirja", "Index")
        </div>
    }
</div>
