﻿@model IEnumerable<Huvikool.Models.InterestArea>

@{
    ViewBag.Title = "Index";
}

<h2>Huviringid</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Lisa uus", "Create")
    }
</p>
<p>
    Meie koolis on praegusel hetkel võimalik õppida viiel põhilisel suunal ja iga huviring on omakorda jagatud
    kolmeks peamiseks vanusegrupiks. Vastavalt soovidele avame lisagruppe ja järgmisel aastal on plaanis avada veel huviringe ka teistel
    suundadel. 

</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>*@
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">


        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>

        <img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
       
            @if (User.IsInRole("Admin"))
            {
                <ul>


                    <li>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
                    </li>

                    <li>
                        @Html.ActionLink("Detailid", "Details", new { id = item.Id })
                    </li>
                    <li>
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                    </li>
                </ul>
            }
            


        </div>      

      }
</div>

