﻿@model IEnumerable<Huvikool.Models.Person>

@{
    ViewBag.Title = "Juhendajad";
}


    <div>
        <p>
            <br>
        </p>
        <h1>Meie õpetajad</h1>
        <p>
            <br>
        </p>
    </div>


<div class="row">

    <div class="col-md-4">

        @*<img src="@Url.Action("Content", "My", new { id=Model.PictureId })" height="120" id="datafile" />*@
        <img src="~/juhendaja1.jpg"  height="200"/>

        <h3>Meie õpetaja Mai</h3>

        @*<img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />*@
        <p>
            Mai Kuu õpetab meie koolis robootikat. Mai tehnikaarmastus pärineb juba lapsepõlvest, kus
            tema lemmiktegevuseks oli vendadega masinate ehitamine. Robotite ehitamisega alustas Mai juba keskkoolis
            ning ülikoolis alustas ta teadusringi raames lastele robotiehituse õpetamist. Mai on korraldanud robootika töötubasid
            nii lastele kui täiskasvanutele ning samuti välismaal ennast täiendanud. Mai armastab ka küpsetada ning tihti rõõmustab ta meie kooliperet omatehtud hõrgutistega.
        </p>

    </div>
    <div class="col-md-4">


        <img src="~/juhendaja2.jpg" height="200" />
        @*<img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />*@
        <h3>Meie õpetaja Marta</h3>
        <p>
            Marta Viliberg on meie särasilmne kunsti- ja rahvatantsuõpetaja, kes on õpetanud üle Eesti mitmes kunstikoolis. Marta aastatepikkune kogemuse erinevas eas
            lastega töötamisel on teinud ta meie laste vaieldamatuks lemmikuks. Marta suudab igas lapses tuua välja igas lapses peituva kunstniku
            ja neid oskusi edasi arendada. Lisaks kunstiringi juhendamisele on Marta ka 20 aastat rahvatantsu teinud ning eelmisest aastast
            alustas ta meie huvikoolis ka rahvatantsu õpetamisega.
        </p>

    </div>
    <div class="col-md-4">


        <img src="~/TiiuLuts.jfif" height="200" />
        @*<img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />*@
        <h3>Meie õpetaja Tiiu</h3>
        <p>
            Tiiu Luts on olnud kogemustega lauluõpetaja ja näitleja, kes on teinud hääleseadet paljudele
            meie tuntud lauljatele. Mai on saanud kogemusi ka välismaal õppides ja õpetades. Mai on ise ka tegev muusik ja helilooja ning koos
            Joel Rannaga on neil ka tema autoriloomingut esitav kollektiiv. Tiiu on lõpetanud teatrikooli ning töötanud ka teatrilavadel, samuti
            on lavakogemust ka nooruspõlves rahvusvahelise modellina töötades.
        </p>

    </div>




</div>




