﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
            {
                string displayName = Huvikool.Models.AspNetUser.ByEmail(User.Identity.Name).DisplayName;
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Sisse logitud kasutaja: " + displayName , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Mine oma kontole" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logi välja</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreeri", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logi sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
