﻿@model Huvikool.Models.Activity
@using Huvikool.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4>Tunni info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Space.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Space.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Space.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Space.Placement)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))

{
    <table>
        <tr>
            <th width="20%"><h5></h5></th>
            <th width="30%"><h5><strong>Registreeritud osalejad:</strong></h5></th>

        </tr>
        <tr>
            <td>
            <td>

                @foreach (Person m in ViewBag.Osalejad)
                {
                    <p>@m.FullName</p>
                }

            </td>
            @*@foreach (Person m in ViewBag.Osaleja)
                {
                    <p> @m.FullName</p>
                    <p>Ringi tegevus: @m.Group.Activities</p>
                <p>Ringi juhendaja: @m.Group.Instructors</p>
                    <p>@Html.ActionLink("- " + r.Name, "RemoveRole", new { id = Model.Id, roleId = r.Id })</p>
                }
                @foreach (Person m in ViewBag.Osalejad)
                {
                    <p>@m.FullName</p>
                }*@

            </td>
            <td />

            <td />
            <td />
            <td />
        </tr>
    </table>
}






<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
