﻿@model IEnumerable<Huvikool.Models.Activity>
@using Huvikool.Models @*selle lisan, et saaks OMA andmetüüpe kasutada*@

@{
    ViewBag.Title = "Index";
}
<style>
    .osa:after, .osa:before {
        display: block;
        position: absolute;
        top: 0;
    }

    .osav:before {
        content: "↦";
        left: 0;
        font: bold;
        font-size: larger;
    }

    .osap:after {
        content: "↤";
        right: 0;
        font: bold;
        font-size: larger;
    }

    .lai {
        width: 400px;
        position: initial;
    }

    .osa {
        position: relative;
        text-align: center;
    }

    .no-margin {
        margin-right: 0px;
        margin-left: 0px;
    }

    .task-no-start-end {
        background-image: linear-gradient(to right, lightblue, blue);
    }

    .task-start-no-end {
        background-image: linear-gradient(to right, blue, lightblue);
    }

    .task-no-start-no-end {
        background-image: linear-gradient(to right, lightblue, blue, lightblue);
    }

    .task-start-end {
        background-image: linear-gradient(to right, blue, lightblue, blue);
    }

    .task-white {
        background-color: white;
    }

    .task {
        height: 30px;
        display: inline-block;
    }
</style>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Lisa uus", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Space.Name)
                </td>
               
                    <td>

                         @Html.ActionLink("Muuda", "Edit", new { id = item.Id }, new{ @class = "btn btn-sm" }) 
                        @Html.ActionLink("Detailid", "Details", new { id = item.Id }, new{ @class = "btn btn-sm" })
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id }, new{ @class = "btn btn-sm" })

                    </td>
              
            </tr>
        }


    </table>
}
    @*silumisemõttes, et näha, et õied numbrid tulevad controllerist*@
    @*<p>startdate @ViewBag.StartDate.ToString("ddd dd.MMMM.yyyy")</p>
        <p>calstart @ViewBag.CalStart.ToString("ddd dd.MMMM.yyyy")</p>*@

    @* neid kahte vaatame hiljem, need on et saaks kalendris liikuda *@
    
        @Html.ActionLink("< Eelmine", "Index", new
        {
            month = (ViewBag.Month == 1 ? 12 : (ViewBag.Month - 1)),
            year = (ViewBag.Month == 1 ? (ViewBag.Year - 1) : ViewBag.Year)
        },
         new {@class= "btn-lg"})
    
    @*Kalendrile pealkiri*@
    <h2 style="display:inline">@ViewBag.StartDate.ToString("MMMM yyyy")</h2>
   
        @Html.ActionLink("Järgmine >", "Index", new
               {
                   month = (ViewBag.Month == 12 ? 1 : (ViewBag.Month + 1)),
                   year = (ViewBag.Month == 12 ? (ViewBag.Year + 1) : ViewBag.Year)
               },
               new {@class= "btn-lg" })
   



    @*kalender on TABEL - 7 veergu ja 4-6rida *@
    <table class="table table-bordered" style="border-style: solid;border-color:orangered">
        <thead>

            <tr style="border-style:solid;border-color:orangered">

                @for (int n = 0; n < 7; n++)
                {
                    <th class="col-lg-1 text-center" style="border-style:solid ;border-color:orangered">
                        @(new DateTime(1955, 03, 07).AddDays(n).ToString("dddd"))
                    </th>
                }
            </tr>
        </thead>
        @* siin lõppeb tabeli pea - see OLI lihtne osa*@

        <tbody>
            @foreach (var week in ViewBag.Dates) // käime läbi meile antud Kuupäevad
            {
                // KUI nädala esimene päev on järgmises kuus, siis me seda nädalat ei kuva
                if (week[0].Year * 12 + week[0].Month <= ViewBag.Year * 12 + ViewBag.Month)
                {
                    <tr style="height:120px">
                        @* üks nädal üks rida *@
                        @foreach (DateTime day in week)
                        {
                            // nüüd käime läbi KÕIK kuupäevad selles nädalas ja teeme iga kohta ruudu
                            <td style="border-style:double;border-color:darkslategrey" class="no-margin">
                                <div class="text-right no-margin">
                                    @if (day.Month == ViewBag.Month)
                                    { // aga need ruudud, kus on mõne teise (eelmise või järgmise)
                                      // kuu päev, jätame tühjaks
                                        <div class="no-margin" style="width:100%;background-color:@(day == DateTime.Today ? "#e8640c" : "Silver")">
                                            <div class="float-right badge">@day.Day</div>
                                            @* ruudu üles nurka päeva number *@
                                        </div>
                                        // ja nüüd käime läbi KÕIK taskid, kellel selle päevaga asja
                                        // st see päeva on taski alguse ja lõpu vahel ja näitame teda siin kastis
                                        // NB! taskid, millel ei ole kas alguse või lõpu kuupäeva tekitavad vea!
                                        foreach (Activity activity in Model
                                            .Where(x => x.StartDate.HasValue || x.EndDate.HasValue) // vähemalt üks peab olema
                                            .Where(x => day <= (x.EndDate ?? x.StartDate.Value).Date && day >= (x.StartDate ?? x.EndDate.Value).Date)
                                            .OrderBy(x => x.StartDate ?? x.EndDate)
                                            .Take(3)
                                            )
                                        {
                                            string activityc = "osa"
                                                + (activity.StartDate == day ? " osav" : "")
                                                + (activity.EndDate == day ? " osap" : "")
                                                ;

                                            switch (activity.GroupId)
                                            {
                                                case 1:
                                                    <div style="background-color:honeydew;font-size: larger">
                                                        @*@activity.StartDate;*@
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 2:
                                                    <div style="background-color:navajowhite; font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 3:
                                                    <div style="background-color:palegoldenrod;font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 4:
                                                    <div style="background-color:darkkhaki;font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 5:
                                                    <div style="background-color:mistyrose;font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 6:
                                                    <div style="background-color:lavender;font-size: larger ">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                case 7:
                                                    <div style="background-color:lightsalmon;font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;
                                                default:
                                                    <div style="background-color:lemonchiffon;font-size: larger">
                                                        <a href="@Url.Action("Details", new { id = activity.Id })">
                                                            <div class="text-center @activityc">@activity.Group.Name </div>
                                                        </a>
                                                    </div>
                                                    break;

                                            }

                                        }
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
                                    }
        </tbody>
    </table>
    @*sellega lõppes kuukalender*@
