﻿@model IEnumerable<Huvikool.Models.Member>

@{
    ViewBag.Title = "Osalejad";
}

<h2>Osalejad</h2>


<form action="/Members/Index" name="selectForm" method="post">
    @Html.DropDownList("id", null, "-- kõik grupid --", new { @class = "form-control", style = "width:150px", onchange = "document.selectForm.submit()" })

</form>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Person.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Person.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Group.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Person.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
