﻿@{
    ViewBag.Title = "Koolist";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Meie missiooniks on arendava ja loomingulise õpikeskkonna loomine ning mitmekülgse huvialahariduse võimaldamine
    igas vanuses lastele. Meie huvikoolist leiad mitmeid põnevaid huvialaringe erinevas vanuses lastele.
</p>


<h3> Meie peamised eesmärgid</h3>

<li> tagada järjepidev huviõppe võimalus kodu lähedal</li>
<li>
    sisustada laste, noorte ja täiskasvanute vaba aega arendava tegevusega
</li>
<li>
    luua võimalusi eripalgelisele eneseväljendusele ja tagada vaba isiksuse areng läbi valitud ringitegevuse
</li>
<li>
    pakkuda uusi ringitegevusi huviliste algatusel
</li>

<h3> Meie lugu </h3>
<p>
    Meie kool on rajatud aastal 2017 ühe sõpruskonna huviringide juhendajate poolt. Ühised väärtused ja
    arusaamad ühendasid meid juba enne kooli rajamist ning aastatepikkune kogemus lastega töötamisel viisid meid
    kooli rajamiseni. Seetõttu soovime ka meie kooli lastele pakkuda lisaks kvaliteetsele huvialaharidusele ka seda
    ühtset sõpruse ja pere tunnet.
    <div class="caption">
        <div class="thumbnail">
            <a href="~/Content/opetajad.jpg">
                <img src="~/Content/opetajad.jpg" alt="Meie juhendajad" style="width:100%">
            </a>
        </div>
     </div>

</p>


