﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Huvikooli tee 2<br />
    Tallinn, 25482<br />
    <abbr title="Telefon">T:</abbr>
    62395545
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Info@huvikool.com">Info@huvikool.com</a><br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4056.145766521186!2d24.752865029423344!3d59.4485359268028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692936ed8ae5fab%3A0x7c30a500ffff560a!2sHarju%20maakond!5e0!3m2!1set!2see!4v1575020816026!5m2!1set!2see"> width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>