﻿@{
    ViewBag.Title = "Avaleht";
}

<div class="jumbotron">



    <h1>Tere tulemast meie huvikooli lehele!</h1>
    @*<p class="lead">See btn lööb kursuste kirjelduste lehele.</p>*@
    <p><a href="~/InterestAreas/Index" class="btn btn-primary btn-lg">Tutvu huviringidega &raquo;</a></p>
    <p><a href="~/Activities" class="btn btn-primary btn-lg">Tunniplaan &raquo;</a></p>
</div>




<div class="row">
    <div class="col-md-3">
        <h2>Meie lugu</h2>
        <p>
            Meie kool on loodud aastal 2017 ja meie missiooniks on arendava ja loomingulise õpikeskkonna loomine ning mitmekülgse huvialahariduse võimaldamine
            igas vanuses lastele.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Loe täpsemalt &raquo;</a></p>
    </div>


    <div class="col-md-3">
        <h2>Meie õpetajad</h2>
        <p>Huviringe annavad täiega entukad juhendajad. </p>
        <p><a class="btn btn-default" href="~/Juhendajad/Index">Tutvu meie juhendajatega &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Uudised</h2>
        <p> Siia võiks tulla uudisteleht</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Loe täpsemalt &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Kontakt</h2>
        <p>Võta meiega ühendust.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Loe täpsemalt &raquo;</a></p>
    </div>
    @*<div class="row">
            <div class="col-md-4">
                <div class="caption">
                    <p>Huviringid, niisama testimise pilt</p>
                    <div class="thumbnail">
                        <a href="/../kasitoo.jpg">
                            <img src="/../kasitoo.jpg" alt="Kasitoo" style="width:100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
</div>
@*<div class="row">
        <div class="col-md-12">
            <h2>mida ma tean meie kasutajast</h2>
            <p>
                Kasutaja on: @ViewBag.Kasutaja
            </p>
            <p>
                Person on: @ViewBag.Person
            </p>
        </div>
    </div>*@