﻿@model Huvikool.Models.IndexViewModel
@using Huvikool.Models;


@{
    ViewBag.Title = "Minu konto";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    @*<h4>Halda oma konto seadeid</h4>*@


    <hr />
    <div class="row">
        <div class="col-md-12">
            @*<dl class="dl-horizontal">*@

            <h2>Minu andmed: </h2>
            <p><strong>Nimi:</strong> @ViewBag.Person.FullName</p>
            <p><strong>Email:</strong> @ViewBag.Person.Email</p>
            <p><strong>Sünnipäev:</strong> @(ViewBag.Person.BirthDate?.ToShortDateString())</p>


            <dt>Salasõna:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Muuda oma parooli", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Loo", "SetPassword")
                }
                ]
            </dd>

            @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
            @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
            *@
            @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
            *@
            @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
            @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
            @*</dd>*@
            </dl>
            <hr />
        </div>

        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Lapsevanem"))
            {

                <h2>Minu laps(ed): </h2>
                foreach (Person p in ViewBag.Person.Children)
                {
                    <p><strong>Laps:</strong> @p.FullName @*+ " " + @p.LastName*@</p>
                    <p><strong>Sünnipäev:</strong> @(p.BirthDate?.ToShortDateString())</p>


                }

                <p>
                    @Html.ActionLink("Vaata rohkem detaile", "Index", "People2")
                </p>
                <p>
                    @Html.ActionLink("Lisa uus laps", "Create", "People2")
                </p>



            }
        }



    </div>
</div>