﻿@model IEnumerable<Huvikool.Models.Space>

@{
    ViewBag.Title = "Index";
}

<h2>Meie ruumid</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Lisa uus", "Create")
    }
    </p>
<p>
    Praegusel hetkel on meil kasutuses 5 erinevat ruumi, mida on võimalik ka rentida majavälisteks üritusteks
    ja kursusteks.
<p><a href="~/Home/Contact" class="btn btn-primary btn-sm">Võta meiega ühendust&raquo;</a></p>
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">


        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />
        <p>Mahutavus: @Html.DisplayFor(model => item.Limit) inimest </p>
        <p>Ruumi number: @Html.DisplayFor(model => item.Placement)</p>
        @if (User.IsInRole("Admin"))
        {<ul>

            <li>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
            </li>

            <li>
                @Html.ActionLink("Detailid", "Details", new { id = item.Id })
            </li>
            <li>
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </li>
        </ul>
        }

        @*@Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })*@
    </div>

    }
</div>
@*</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th>
                Foto
                @Html.DisplayNameFor(model => model.DataFile.ContentType)
            </th>
            <th></th>
        </tr>*@

@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
         <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-4">


            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <img src="@Url.Action("Content", "My", new {id = item.PictureId})" height="200" />

            @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
        </div>

          }
    </div>
    }

    </table>*@
