﻿@model Huvikool.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel, et soovid antud grupi kustutada?</h3>
<div>
    <h4>Grupid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterestArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.MaxMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
