﻿@model Huvikool.Models.Group
@using Huvikool.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4>Grupid</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestArea.Name)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.MaxMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxMembers)
        </dd>


        @*<dt>
                @Html.DisplayNameFor(model => model.PictureId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PictureId)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Vaata ringi täpsemat kirjeldust siit", "Details", "InterestAreas")

</p>



@*<div>
        <h4><strong>Grupi juhendaja(d):</strong></h4>
        @foreach (Person p in Model.Instructors)
        {
            <p>@p.FullName @Html.ActionLink("Eemalda", "EemaldaJuhendaja", new { id = Model.Id, Juhendaja = p.Id })</p>

        }

        <p>Lisa juhendaja:</p>
            <form action="/Groups/LisaJuhendaja/" method="post" >
            <input type="hidden" value="@Model.Id" name="id" />
            @Html.DropDownList("Juhendaja", null, "-- vali juhendaja --", new { @class="form-control"})
            <input type="submit" value="Vali" />
            </form>
    </div>

    <div>
        <h4>Selles grupis osalevad:</h4>
        @foreach (Person m in ViewBag.Osalejad)
        {
            <p>@m.FullName</p>
        }
    </div>*@

<td />
<td />

<table>
    <tr>
        <th width="30%"><h5><strong>Grupi juhendaja(d):</strong></h5></th>
        <th width="25%"></th>
        @if(User.IsInRole("Admin"))
        { 
        <th><h5><strong>Selles grupis osalevad:</strong></h5></th>
        }
    </tr>
    <tr>
        <td>
            @foreach (Person p in Model.Instructors)
            {
                <p>@p.FullName @*@Html.ActionLink("Eemalda", "EemaldaJuhendaja", new { id = Model.Id, Juhendaja = p.Id })*@</p>

            }

        </td>
        <td />
        <td>
            @if (User.IsInRole("Admin"))
            { 
                foreach (Person m in ViewBag.Osalejad)
                {
                    <p>@m.FullName</p>
                }
             }

        </td>
        <td />
        <td />
    </tr>
</table>


<div>
    <p>
        <strong> Plaanitud tegevused lähiajal:</strong>
    </p>
    <p>
        @foreach (Activity a in Model.Activities)
        {
    <p>@a.StartDate @a.Description</p>

    }
        </p>

    </div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>



