﻿@model IEnumerable<Huvikool.Models.Group>
@using Huvikool.Models @*selle lisan, et saaks OMA andmetüüpe kasutada*@

@{
    ViewBag.Title = "Index";
}

<h2>Gruppide loetelu</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestArea.Name)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MaxMembers)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.PictureId)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InterestArea.Name)
    </td>

    @*<td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.MaxMembers)
    </td>

    @*<td>
            @Html.DisplayFor(modelItem => item.PictureId)
        </td>*@
    <td>
        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }, new { @class = "btn btn-sm" })
        @Html.ActionLink("Detailid", "Details", new { id = item.Id }, new { @class = "btn btn-sm" })
        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id }, new { @class = "btn btn-sm" })
    </td>
    </tr>
    }

</table>




