﻿@model Huvikool.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Andmed</h2>

<div>
    <h4>Kasutajad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            
                <img src="@Url.Action("Content", "My", new { id=Model.PictureId })" height="120" id="datafile" />
                @Html.HiddenFor(x => x.PictureId)
          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IK)
        </dd>


    </dl>
</div>

    <table>
        <tr>
            <th width="30%"><h5><strong>Registreeritud huviring:</strong></h5></th>
            @*<th width="20%"></th>
                <th><h5><strong>Lisa/eemalda rolle:</strong></h5></th>*@
        </tr>
        <tr>
            <td>
                @foreach (var m in Model.Members)
                {
                    <p>@Html.ActionLink(@m.Group.Name, "Details"+"/"+m.Group.Id, "Groups")</p>

    
                }



            </td>
            <td />

            <td />
            <td />
            <td />
        </tr>
    </table>




<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
