﻿@model IEnumerable<Huvikool.Models.Person>


@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <h2>Kasutajad</h2>
    }
    if (User.IsInRole("Lapsevanem"))
    {
        <h2>Lapsed</h2>
    }
    if (User.IsInRole("Juhendaja"))
    {
        <h2>Osalejad</h2>
        <li>@Html.ActionLink("Osalejad", "Index", "Members")</li>
    }
}



@*<h2>Kasutajad</h2>*@

@if (User.IsInRole("Admin"))
{
<form action="/People2/Index" name="selectForm" method="post">
    @Html.DropDownList("id", null, "-- kõik rollid --", new { @class = "form-control", style = "width:150px", onchange = "document.selectForm.submit()" })
   
</form>
}

<p>
    @Html.ActionLink("Lisa uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            Foto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IK)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @* näitab pilti kui PictureId on olemas *@
                @if (item.PictureId != null)

                {
                    <img src="@Url.Action("Content", "My", new { id = item.PictureId })" height="100" />
                 }
 

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IK)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }, new { @class = "btn btn-sm" })
                @Html.ActionLink("Detailid", "Details", new { id = item.Id }, new { @class = "btn btn-sm" })
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id }, new { @class = "btn btn-sm" })
            </td>
        </tr>
    }

</table>
